:host {
  width: 100%;
  flex: 1;
}

label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

select {
  width: 100%;
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: 11px;
  margin-top: 8px;
}

select:focus {
  outline: none;
  border-color: #8477c9;
}
select:disabled {
  background: #e4e4e4;
  border-color: #e4e4e4;
  color: #848484;
}
