/* Add application styles & imports to this file! */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color: #e7e7ff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.half {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.half:last-child {
  margin-left: 48px;
}

.padded {
  padding: 16px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
}

a {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;

  color: #8477c9;
}
